*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: crimson;
}
main{
    /* width: 100px;
    height: 100px; */
    /* display: flex; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 50%;
    background-color: white;
}
.screen{
    height: 20%;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}
.screen p{
    direction: rtl;
}
.cta{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    
}
.digits{
    /* height: 75%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 75%;
}
button{
    font-size: 1.3rem;
    font-weight: 700;
    color: gold;
    width: 2.2rem;
    height: 2.3rem;
    border: blue 2px solid;
    /* padding: 0.7rem; */
    margin: 0.5rem;
    background-color: black;
}
.last-row{
    display: block;
    text-align: center;
}
.arithemetic-operators{
    /* display: block; */
    /* background-color: red; */
    float: right;
    width: 25%;
}
.result-btn{
    width: 3.3rem;
}